<!--

Brings up flirtlib on the willow map.
Once this is launched, do rosrun flirtlib_ros localize.py to localize the robot and send the result to amcl.

-->

<launch>

  <param name="warehouse_host" value="bab.willowgarage.com"/>
  <param name="warehouse_port" value="27018"/>

  <remap from="scan" to="base_scan"/>
  <node pkg="flirtlib_ros" name="startup_loc" type="startup_loc"
        output="screen">
    <param name="scan_db" value="scan_map"/>
    <param name="min_num_matches" value="15"/>
  </node>
  

</launch>
